disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.aux
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.bbl
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.blg
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.brf
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.fdb_latexmk
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.fls
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.idx
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.ilg
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.ind
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.log
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.synctex.gz
disciplinas/processamento-imagens/lista-1/main.aux
disciplinas/processamento-imagens/lista-1/main.bbl
disciplinas/processamento-imagens/lista-1/main.blg
disciplinas/processamento-imagens/lista-1/main.brf
disciplinas/processamento-imagens/lista-1/main.fdb_latexmk
disciplinas/processamento-imagens/lista-1/main.fls
disciplinas/processamento-imagens/lista-1/main.idx
disciplinas/processamento-imagens/lista-1/main.ilg
disciplinas/processamento-imagens/lista-1/main.ind
disciplinas/processamento-imagens/lista-1/main.log
disciplinas/processamento-imagens/lista-1/main.synctex.gz
disciplinas/estatistica/trab1/dados/data1q.dat
disciplinas/estatistica/trab1/dados/data1t.dat
disciplinas/estatistica/trab1/dados/data1x.dat
disciplinas/estatistica/trab1/dados/data1y.dat
pesquisa/data/cifar-10-python.tar.gz
pesquisa/test_deep/__pycache__/helpers.cpython-310.pyc
pesquisa/test_deep_2/data/cifar-10-python.tar.gz
disciplinas/estatistica/trab1/main.aux
disciplinas/estatistica/trab1/main.fls
disciplinas/estatistica/trab1/main.fdb_latexmk
disciplinas/estatistica/trab1/main.log
pesquisa/test_deep3/data/cifar-10-batches-py/batches.meta
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_1
pesquisa/test_deep3/data/cifar-10-python.tar.gz
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_3
pesquisa/test_deep3/data/cifar-10-batches-py/test_batch
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_2
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_4
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_5
pesquisa/test_deep3/data/cifar-10-batches-py/readme.html
disciplinas/estatistica/trab1/escrita/main.fdb_latexmk
disciplinas/estatistica/trab1/escrita/main.fls
disciplinas/estatistica/trab1/escrita/main.log
disciplinas/estatistica/trab1/escrita/main.aux
disciplinas/estatistica/trab1/escrita/main.fdb_latexmk
disciplinas/estatistica/trab1/escrita/main.fls
disciplinas/estatistica/trab1/escrita/main.log
disciplinas/estatistica/seminario/slides/assets/img/background_alternative.jpg
disciplinas/estatistica/seminario/slides/assets/img/background_negative.png
disciplinas/estatistica/seminario/slides/assets/img/background.png
disciplinas/estatistica/seminario/slides/assets/img/Logo_RGB_negative.png
disciplinas/estatistica/seminario/slides/assets/img/logo_RGB.png
disciplinas/estatistica/seminario/slides/assets/style/beamerthemeLNCC.sty
disciplinas/estatistica/seminario/slides/assets/style/LNCCcolor.sty
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_LNCC1.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_LNCC2.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_LNCC3.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_LNCC4.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_LNCC5.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_LNCC6.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_LNCC7.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_SDumont1.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_SDumont2.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_SDumont3.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_SDumont4.jpg
disciplinas/estatistica/seminario/slides/resources/images/example/background_alternative_SDumont5.jpg
disciplinas/estatistica/seminario/slides/tex/example/beamerLNCC-example.tex
disciplinas/estatistica/trab1/GA030 - Lorran.pdf:Zone.Identifier
disciplinas/estatistica/trab1/GA030 - Lorran.pdfZone.Identifier
disciplinas/processamento-imagens/lista-2/texto/trab_estat_lorran.aux
disciplinas/processamento-imagens/lista-2/texto/trab_estat_lorran.bbl
disciplinas/processamento-imagens/lista-2/texto/trab_estat_lorran.blg
disciplinas/processamento-imagens/lista-2/texto/trab_estat_lorran.fdb_latexmk
disciplinas/processamento-imagens/lista-2/texto/trab_estat_lorran.fls
disciplinas/processamento-imagens/lista-2/texto/trab_estat_lorran.log
disciplinas/processamento-imagens/lista-2/texto/trab_estat_lorran.synctex.gz
disciplinas/processamento-imagens/lista-2/texto/trab_estat_lorran.pdf
disciplinas/processamento-imagens/lista-2/texto/Lista_2___Elementos_de_Processamento_de_Imagens___Lorran.pdfZone.Identifier
disciplinas/processamento-imagens/lista-2/texto/trab_estat_lorran.toc
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_1.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_3.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_6.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_8.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_9.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_15.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_16.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_19.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_24.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_29.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_31.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_33.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_40.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_43.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_44.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_46.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_47.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_49.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_51.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_52.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_54.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_58.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_61.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_66.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_67.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/trimaps/Abyssinian_68.png
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_1.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_3.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_6.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_8.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_9.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_15.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_16.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_19.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_24.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_29.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_31.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_33.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_40.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_43.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_44.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_46.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_47.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_49.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_51.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_52.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_54.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_58.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_61.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_66.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_67.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/images/Abyssinian_68.jpg
disciplinas/processamento-imagens/trab-final/oxford_pet_dataset/annotations/._trimaps
*.jpg
pesquisa/test_seg/oxford_pet_dataset/annotations/trimaps/Abyssinian_92.png
*.png
