disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.aux
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.bbl
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.blg
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.brf
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.fdb_latexmk
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.fls
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.idx
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.ilg
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.ind
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.log
disciplinas/redes-neurais/codes/lista3/Lista 3 - Redes Neurais/main.synctex.gz
disciplinas/processamento-imagens/lista-1/main.aux
disciplinas/processamento-imagens/lista-1/main.bbl
disciplinas/processamento-imagens/lista-1/main.blg
disciplinas/processamento-imagens/lista-1/main.brf
disciplinas/processamento-imagens/lista-1/main.fdb_latexmk
disciplinas/processamento-imagens/lista-1/main.fls
disciplinas/processamento-imagens/lista-1/main.idx
disciplinas/processamento-imagens/lista-1/main.ilg
disciplinas/processamento-imagens/lista-1/main.ind
disciplinas/processamento-imagens/lista-1/main.log
disciplinas/processamento-imagens/lista-1/main.synctex.gz
disciplinas/estatistica/trab1/dados/data1q.dat
disciplinas/estatistica/trab1/dados/data1t.dat
disciplinas/estatistica/trab1/dados/data1x.dat
disciplinas/estatistica/trab1/dados/data1y.dat
pesquisa/data/cifar-10-python.tar.gz
pesquisa/test_deep/__pycache__/helpers.cpython-310.pyc
pesquisa/test_deep_2/data/cifar-10-python.tar.gz
disciplinas/estatistica/trab1/main.aux
disciplinas/estatistica/trab1/main.fls
disciplinas/estatistica/trab1/main.fdb_latexmk
disciplinas/estatistica/trab1/main.log
pesquisa/test_deep3/data/cifar-10-batches-py/batches.meta
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_1
pesquisa/test_deep3/data/cifar-10-python.tar.gz
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_3
pesquisa/test_deep3/data/cifar-10-batches-py/test_batch
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_2
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_4
pesquisa/test_deep3/data/cifar-10-batches-py/data_batch_5
pesquisa/test_deep3/data/cifar-10-batches-py/readme.html
disciplinas/estatistica/trab1/escrita/main.fdb_latexmk
disciplinas/estatistica/trab1/escrita/main.fls
disciplinas/estatistica/trab1/escrita/main.log
disciplinas/estatistica/trab1/escrita/main.aux
disciplinas/estatistica/trab1/escrita/main.fdb_latexmk
disciplinas/estatistica/trab1/escrita/main.fls
disciplinas/estatistica/trab1/escrita/main.log
